name: Build Verification (CI)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js 10
      uses: actions/setup-node@v2
      with:
        node-version: '10'
        
    - name: Install Dependencies
      run: npm install
      
    - name: Run Build
      run: npm run build
      env:
        NODE_ENV: production
